body{

font-family:Arial;
background:#0f172a;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.container{

background:#1e293b;
padding:30px;
border-radius:10px;
width:400px;
text-align:center;

}

button{

padding:10px 20px;
margin-top:15px;
cursor:pointer;
border:none;
background:#22c55e;
color:white;
font-size:16px;
border-radius:6px;

}

input{

display:block;
width:100%;
margin:10px 0;
padding:10px;

}

.option{

background:#334155;
margin:10px 0;
padding:10px;
cursor:pointer;
border-radius:6px;

}

.option:hover{

background:#475569;

}
